<%- include("partials/header") %>

<div class="col-md-6 mx-auto">

<div class="card p-4">

<h3>Edit Task</h3>

<form method="POST" action="/update/<%= task.id %>">

<input name="title" value="<%= task.title %>" class="form-control mb-2">

<textarea name="description" class="form-control mb-2"><%= task.description %></textarea>

<select name="priority" class="form-control mb-2">
    <option <%= task.priority=="High"?"selected":"" %>>High</option>
    <option <%= task.priority=="Medium"?"selected":"" %>>Medium</option>
    <option <%= task.priority=="Low"?"selected":"" %>>Low</option>
</select>

<select name="status" class="form-control mb-2">
    <option>Pending</option>
    <option>In Progress</option>
    <option>Completed</option>
</select>

<button class="btn btn-primary w-100">Update</button>

</form>

</div>

</div>

<%- include("partials/footer") %>